button {
	display: block;
	width: em(608px);
	height: em(68px);
	margin: em(16px) auto;
	// padding: 0 em(18px);

	// vertical-align: top;

	font-family: $font-family--primary;
	font-size: em(14px);
	font-weight: $font-weight--title;
	letter-spacing: 0.781em;
	line-height: em(56px);
	text-align: center;
	text-transform: uppercase;

	background-color: $color-blue--strong;
	color: $color-white--0;

	border: em(3px) solid $color-blue--strong;
	outline: none;
}